{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="{% static 'backend/images/favicon.png' %}">

    <title>CWG HMO {% block title %}{% endblock %}</title>

    <!--Core CSS -->
    <link href="{% static 'backend/bs3/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'backend/css/bootstrap-reset.css' %}" rel="stylesheet">
    <link href="{% static 'backend/font-awesome/css/font-awesome.css' %}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="{% static 'backend/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'backend/css/style-responsive.css' %}" rel="stylesheet"/>

    {% block css %}{% endblock %}
</head>

<body>

<section id="container">
    <!--header start-->
    <header class="header fixed-top clearfix">
        <!--logo start-->
        <div class="brand">

            <a href="index.html" class="logo">
                <img src="{% static 'backend/images/logo.png' %}" alt="">
            </a>
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars"></div>
            </div>
        </div>
        <!--logo end-->

        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            {% include 'base/backend/top_notification.html' %}
            <!--  notification end -->
        </div>
        <div class="top-nav clearfix">
            <!--search & user info start-->
            {% include 'base/backend/top_navigation.html' %}
            <!--search & user info end-->
        </div>
    </header>
    <!--header end-->
    <aside>
        <div id="sidebar" class="nav-collapse">
            <!-- sidebar menu start-->
            <div class="leftside-navigation">
                {% include 'base/backend/nav.inc.html' %}
            </div>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            {% block content %}{% endblock %}
            <!-- page end-->
        </section>
    </section>
    <!--main content end-->
    <!--right sidebar start-->
    <div class="right-sidebar">
        {% include 'base/backend/right_sidebar.html' %}
    </div>
    <!--right sidebar end-->

</section>

<!-- Placed js at the end of the document so the pages load faster -->

<!--Core js-->
<script src="{% static 'backend/js/jquery.js' %}"></script>
<script src="{% static 'backend/bs3/js/bootstrap.min.js' %}"></script>
<script class="include" type="text/javascript" src="{% static 'backend/js/jquery.dcjqaccordion.2.7.js' %}"></script>
<script src="{% static 'backend/js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'backend/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js' %}"></script>
<script src="{% static 'backend/js/jquery.nicescroll.js' %}"></script>
<!--Easy Pie Chart-->
<script src="{% static 'backend/js/easypiechart/jquery.easypiechart.js' %}"></script>
<!--Sparkline Chart-->
<script src="{% static 'backend/js/sparkline/jquery.sparkline.js' %}"></script>
<!--jQuery Flot Chart-->
<script src="{% static 'backend/js/flot-chart/jquery.flot.js' %}"></script>
<script src="{% static 'backend/js/flot-chart/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'backend/js/flot-chart/jquery.flot.resize.js' %}"></script>
<script src="{% static 'backend/js/flot-chart/jquery.flot.pie.resize.js' %}"></script>

<!--common script init for all pages-->
<script src="{% static 'backend/js/scripts.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>
