<ul class="nav pull-right top-menu">
    <li>
        <input type="text" class="form-control search" placeholder=" Search">
    </li>
    <!-- user login dropdown start-->
    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle icon-user" href="#">
            <!--<img alt="" src="images/avatar1_small.jpg">-->
            <i class="fa fa-user"></i>
            <span class="username">John Doe</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu extended logout">
            <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
            <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
            <li><a href="login.html"><i class="fa fa-key"></i> Log Out</a></li>
        </ul>
    </li>
    <!-- user login dropdown end -->
    <li>
        <div class="toggle-right-box">
            <div class="fa fa-bars"></div>
        </div>
    </li>
</ul>